anyio==3.5.0
asgiref==3.5.0
attrs==21.4.0
bcrypt==3.2.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
compose==1.2.8
cryptography==36.0.1
distro==1.7.0
docker==4.2.2
docker-compose==1.26.2
dockerpty==0.4.1
docopt==0.6.2
fastapi==0.74.0
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
idna==3.3
Jinja2==3.0.3
jsonschema==3.2.0
MarkupSafe==2.1.0
mysql-connector-python==8.0.28
paramiko==2.9.2
protobuf==3.19.4
pycparser==2.21
pydantic==1.9.0
PyNaCl==1.5.0
pypiwin32==223
pyrsistent==0.18.1
python-dotenv==0.19.2
python-multipart==0.0.5
pywin32==227
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
texttable==1.6.4
typing_extensions==4.1.1
unicorn==1.0.3
urllib3==1.26.8
uvicorn==0.17.5
watchgod==0.7
websocket-client==0.59.0
websockets==10.1
